body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: sans-serif;
}

.header {
    color: #f9faf8;
    background-color: #1f2937;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0px;
    border: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 24px;
}

.header a {
    text-decoration: none;
    color: #f9faf8;
}

.intro {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}

.hero-banner {
    font-size: 48px;
    font-weight: 900;
}

.hero button {
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 8px;
    border: 0px;
    width: 100px;
    height: 24px;
}

.hero {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.top-image img {
    max-height: 300px;
}

.footer {
    text-align: center;
    color:#f9faf8;
    background-color: #1f2937;
    padding: 48px;
}

.button-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 48px;
    margin-bottom: 48px;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 48px;
    margin-left: 480px;
    margin-right: 480px;
}

.option {
    text-align: center;
}

.picture-box img {
    border: 4px solid #3882f6;
    border-radius: 12px;
    max-height: 120px;
}

.quote {
    padding-left: 480px;
    padding-right: 480px;
    background-color: #e5e7eb;
    color: #1f2937;
    padding-top: 48px;
    padding-bottom: 48px;
}

.words {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.speaker {
    font-weight: 900;
    text-align: end;
}